name: goreleaser

on:
  push:
    tags:
      - "*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Check plugin version
        uses: mikefarah/yq@3.2.1
        with:
          cmd: ./scripts/check_plugin_version.sh plugin.yaml ${{ github.ref }}
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
      -
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
